---
import { getCollection, CollectionEntry } from 'astro:content';
import Layout from '../../layouts/default.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <header>
    <h1>{post.data.title}</h1>
    <p>{post.data.share.description}</p>
  </header>

  <Content />

  <footer>
    <ul class="tags">
      {post.data.tags.map((tag) => <li>{tag}</li>)}
    </ul>
    <p>
      <a href="/">&larr; back to all posts</a>
    </p>
  </footer>
</Layout>

<style>
  header {
    margin-bottom: 2rem;
  }

  header p {
    font-size: 1.125rem;
  }

  footer {
    border-top: 1px solid #d8d8d3;
    margin-top: 2rem;
  }

  .tags {
    color: #787873;
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0;
  }

  .tags li::before {
    content: '#';
  }
</style>
