---
import { getCollection } from 'astro:content';
import Layout from '../layouts/default.astro';

const posts = await getCollection('blog');
---

<Layout>
  <h1>Please Read My Excellent Blog</h1>
  <p>
    I write the truth many are too afraid to speak. But I’m not afraid to speak.
    Speaking is just making mouth sounds, and to be honest it’s not very scary.
  </p>

  {
    posts.map((post) => {
      return (
        <article>
          <h2>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h2>
          <p>{post.data.share.description}</p>
          <p>
            <a href={`/blog/${post.slug}`}>full post &rarr;</a>
          </p>
        </article>
      );
    })
  }
</Layout>

<style>
  article {
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h2 a {
    color: inherit;
    text-decoration: none;
  }

  h2 a:focus,
  h2 a:hover {
    text-decoration: underline;
  }
</style>
